<h2>{{category}} - {{subCategory}} - {{listName}}</h2>

<table id="configTable">
    <tr>
        <th>
            Name
        </th>
        <th>
            Show
        </th>
        <th>
            Hide
        </th>
        <th>
            Remove
        </th>
    </tr>
    <tr *ngFor="let key of keys">
        <td>
            {{key.name}}
        </td>
        <td>
            <input type="radio" [name]="key.name" (click)="changeKeyType(key.name, 'show')" [checked]="key.type == 'show'" />
        </td>
        <td>
            <input type="radio" [name]="key.name" (click)="changeKeyType(key.name, 'hide')" [checked]="key.type == 'hide'" />
        </td>
        <td>
            <input type="radio" [name]="key.name" (click)="changeKeyType(key.name, 'remove')" [checked]="key.type == 'remove'" />
        </td>
    </tr>
</table>
<div id="orderContainer">
    <div>
        <h4>Order By</h4>
        <table>
            <tr *ngFor="let key of getNonRemovedKeys()">
                <td>
                    <input type="radio" name="orderBy" [id]="key" (click)="orderBy = key" [checked]="orderBy == key" />
                </td>
                <td>
                    <label [for]="key">{{key}}</label>
                </td>
            </tr>
        </table>
    </div>
    <div>
        <h4>Order Type</h4>
        <table>
            <tr>
                <td>
                    <input type="radio" name="orderType" id="ascending" (click)="orderType = 'ascending'" [checked]="orderType == 'ascending'" />
                </td>
                <td>
                    <label for="ascending">Ascending</label>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="radio" name="orderType" id="descending" (click)="orderType = 'descending'" [checked]="orderType == 'descending'" />
                </td>
                <td>
                    <label for="descending">Descending</label>
                </td>
            </tr>
        </table>
    </div>
</div>
<button class="big_button" (click)="start()">Start</button>